@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&family=Rosarivo&family=Waterfall&display=swap');
 
  * {
    margin: 0;
    padding: 0;
  }

 
  body {
    background-color: #000000;
    font-family: Arial, sans-serif;
  }


  h2, h3 {
    color: #0f0092; 
    font-family: 'rock salt', sans-serif;
  }

 
  p {
    color: rgb(255, 0, 0);
    font-family: 'Rosarivo', sans-serif; 
  }

 
  img {
    max-width: 100%; 
  }

 
  h3:contains("Website Logo") {
    font-weight: bold;
  }


  h3:contains("Website Logo") + img {
    border: 2px solid #336699;
    border-radius: 10px;
  }

  h3:contains("Purpose") + p,
  h3:contains("Audience") + p {
    background-color: #e01313;
    padding: 10px;
    border: 1px solid #ddd;
  }